# Force LF line endings for all text files
* text=auto eol=lf

# Explicitly declare text files with LF
*.php text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Language detection
*.php linguist-language=PHP
*.yml linguist-language=YAML
*.css linguist-vendored
*.js linguist-vendored

# Ignore files and directories
.codegpt				export-ignore
.idea					export-ignore
.gitattributes			export-ignore
.github					export-ignore
.gitignore				export-ignore
.travis					export-ignore
.vscode					export-ignore
tests					export-ignore
travis					export-ignore
README.md				export-ignore
README.old.md			export-ignore
gallery-cleanup.json	export-ignore
gallery-core.json		export-ignore
gallery-exif.json		export-ignore
gallery-import.json		export-ignore
phpunit.xml.dist		export-ignore