.codegpt				export-ignore
.idea					export-ignore
.gitattributes			export-ignore
.github					export-ignore
.gitignore				export-ignore
.travis.yml				export-ignore
.vscode					export-ignore
tests					export-ignore
travis					export-ignore
README.md				export-ignore
README.old.md			export-ignore
gallery-cleanup.json	export-ignore
gallery-core.json		export-ignore
gallery-exif.json		export-ignore
gallery-import.json		export-ignore
phpunit.xml.dist		export-ignore