<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
		 backupStaticAttributes="true"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 verbose="true"
		 bootstrap="../../../tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="Extension Test Suite">
			<directory suffix="_test.php">./phpbbgallery/tests</directory>
			<exclude>./phpbbgallery/tests/functional</exclude>
		</testsuite>
		<testsuite name="Extension Functional Tests">
			<directory suffix="_test.php" phpVersion="5.3.19" phpVersionOperator=">=">./phpbbgallery/tests/functional/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./phpbbgallery/acpcleanup/language/</directory>
				<directory suffix=".php">./phpbbgallery/acpcleanup/migrations/</directory>
				<directory suffix=".php">./phpbbgallery/acpimport/language/</directory>
				<directory suffix=".php">./phpbbgallery/acpimport/migrations/</directory>
				<directory suffix=".php">./phpbbgallery/exif/language/</directory>
				<directory suffix=".php">./phpbbgallery/exif/migrations/</directory>
				<directory suffix=".php">./phpbbgallery/core/language/</directory>
				<directory suffix=".php">./phpbbgallery/core/migrations/</directory>
				<directory suffix=".php">./phpbbgallery/tests/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
