<!-- IF S_GALLERY_FEEDS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_GALLERY}" href="{U_GALLERY_FEED}" /><!-- ENDIF -->
<!-- IF S_GALLERY_FEEDS and S_ENABLE_FEEDS_ALBUM and ALBUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALBUM} - {ALBUM_NAME}" href="{U_GALLERY_FEED}?album_id={ALBUM_ID}" /><!-- ENDIF -->

<!-- IF S_GP_HIGHSLIDE -->
	<script type="text/javascript" src="{S_GP_HIGHSLIDE}highslide-full.js"></script>
	<link rel="stylesheet" type="text/css" href="{S_GP_HIGHSLIDE}highslide.css" />
	<script type="text/javascript">
		hs.graphicsDir = '{S_GP_HIGHSLIDE}graphics/';
		hs.align = 'center';
		hs.transitions = ['expand', 'crossfade'];
		hs.fadeInOut = true;
		hs.dimmingOpacity = 0.8;
		hs.outlineType = 'rounded-white';
		hs.captionEval = 'this.thumb.title';
		// This value needs to be set to false, to solve the issue with the highly increasing view counts.
		hs.continuePreloading = false;

		// Add the slideshow providing the controlbar and the thumbstrip
		hs.addSlideshow({
			interval: 5000,
			repeat: false,
			useControls: true,
			fixedControls: 'fit',
			overlayOptions: {
				opacity: .75,
				position: 'top center',
				hideOnMouseOut: true
			}
		});
	</script>
<!-- ENDIF -->
<!-- IF S_GP_LYTEBOX -->
	<script type="text/javascript" src="{S_GP_LYTEBOX}lytebox.js"></script>
	<link rel="stylesheet" type="text/css" href="{S_GP_LYTEBOX}lytebox.css" />
	<script type="text/javascript">
		if (window.addEventListener) {
			window.addEventListener("load",initLytebox,false);
		} else if (window.attachEvent) {
			window.attachEvent("onload",initLytebox);
		} else {
			window.onload = function() {initLytebox();}
		}
		function initLytebox() {
			var imgMaxWidth = 1280;
			var imgWarning = '';
			myLytebox = new LyteBox(imgMaxWidth, imgWarning);
		}
	</script>
<!-- ENDIF -->
<!-- IF S_GP_SHADOWBOX -->
	<script type="text/javascript" src="{S_GP_SHADOWBOX}shadowbox.js"></script>
	<link rel="stylesheet" type="text/css" href="{S_GP_SHADOWBOX}shadowbox.css" />
	<script type="text/javascript">
		Shadowbox.init();
	</script>
<!-- ENDIF -->