<!-- INCLUDE gallery/gallery_header.html -->

<!-- INCLUDE gallery/posting_javascript.html -->

<h2><!-- IF U_VIEW_IMAGE --><a href="{U_VIEW_IMAGE}">{IMAGE_NAME}</a><!-- ELSE --><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a><!-- ENDIF --></h2>

<form id="postform" action="{S_ALBUM_ACTION}" method="post">

<div class="panel" id="postingbox">
	<div class="inner">
	<h3><!-- IF S_UPLOAD_EDIT -->{L_UPLOAD_IMAGE}<!-- ELSEIF S_EDIT -->{L_EDIT_IMAGE}<!-- ELSEIF S_REPORT -->{L_REPORT_IMAGE}<!-- ENDIF --></h3>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

		<!-- IF not S_USER_LOGGED_IN -->
		<div class="post bg3">{L_USERNAME}:</label></dt>
				<dd id="username"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{S_USERNAME}" size="60" maxlength="32" /></dd>
			</dl>
		<!-- ENDIF -->

		<!-- IF S_SMILIES_ALLOWED and .smiley -->
		<div class="post bg1" id="smiley-box">
		<!-- BEGIN smiley -->
		<!-- IF smiley.S_ROW_COUNT < 10 or not S_SHOW_SMILEY_LINK -->
		<a class="small-icon" href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a><!-- ENDIF -->
		<!-- END smiley -->
		<!-- IF S_SHOW_SMILEY_LINK --><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a><!-- ENDIF -->
		</div>
		<!-- ENDIF -->

		<!-- BEGIN image -->
			<hr />
			<dl>
				<dt class="simulate-dt<!-- IF image.S_FIRST_ROW and (NUM_IMAGES > 1) --> first<!-- ENDIF -->">{image.U_IMAGE}</dt>
				<dd class="simulate-dt"><label for="image_name_{image.S_ROW_COUNT}">{L_IMAGE_NAME}:</label></dd>
				<!-- IF image.S_FIRST_ROW and (NUM_IMAGES > 1) -->
					<dd class="simulate-dd"><input type="checkbox" name="same_name" id="same_name" value="1" onchange="change_read_write();" /> <label for="same_name">{L_USE_SAME_NAME}</label></dd>
					<dd class="simulate-dd">{L_USE_NUM} <input class="inputbox autowidth" type="text" id="image_num" name="image_num" size="5" onchange="update_all('image_name'); update_all('message');" onkeyup="update_all('image_name'); update_all('message');" value="1" /></dd>
				<!-- ENDIF -->
				<dd class="simulate-dd"><input class="inputbox autowidth" type="text" tabindex="1{image.S_ROW_COUNT}" id="image_name_{image.S_ROW_COUNT}" name="image_name[{image.S_ROW_COUNT}]" value="{image.IMAGE_NAME}"<!-- IF image.S_FIRST_ROW --> onchange="update_all('image_name');" onselect="update_all('image_name');" onclick="update_all('image_name');" onkeyup="update_all('image_name');"<!-- ENDIF --> size="60" maxlength="128" /></dd>
				<dd class="simulate-dt"><label for="message_{image.S_ROW_COUNT}">{L_IMAGE_DESC}:</label></dd>
				<dd class="simulate-dd" id="desc_length_{image.S_ROW_COUNT}">{L_DESCRIPTION_LENGTH}</dd>
				<dd class="simulate-dd"><textarea name="message[{image.S_ROW_COUNT}]" id="message_{image.S_ROW_COUNT}" rows="4" cols="76" tabindex="3" onchange="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF -->" onselect="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" onclick="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" onkeyup="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" class="inputbox">{image.IMAGE_DESC}</textarea></dd>
				<!-- IF S_ALLOW_ROTATE -->
				<dd class="simulate-dt"><label for="rotate_{image.S_ROW_COUNT}_0">{L_ROTATE_IMAGE}:</label></dd>
				<dd class="simulate-dd"><input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_0" value="0" checked="checked" /> <label for="rotate_{image.S_ROW_COUNT}_0">{L_ROTATE_NONE}</label> &nbsp;
					<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_270" value="270" /> <label for="rotate_{image.S_ROW_COUNT}_270">{L_ROTATE_RIGHT}</label> &nbsp;
					<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_180" value="180" /> <label for="rotate_{image.S_ROW_COUNT}_180">{L_ROTATE_UPSIDEDOWN}</label> &nbsp;
					<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_90" value="90" /> <label for="rotate_{image.S_ROW_COUNT}_90">{L_ROTATE_LEFT}</label></dd>
				<!-- ENDIF -->
			</dl>
		<!-- END image -->

		<!-- IF S_REPORT -->
			<div><textarea name="message" id="message" rows="5" cols="25" class="inputbox"></textarea></div>
		<!-- ENDIF -->
	</div>
</div>

<!-- IF S_MOVE_PERSONAL or S_COMMENTS_ENABLED or S_CHANGE_AUTHOR -->
<div class="panel">
	<div class="inner">
	<!-- IF S_MOVE_PERSONAL -->
	<div class="post bg3">{L_MOVE_TO_PERSONAL}{L_COLON}<br />
	<input type="checkbox" class="checkbox" name="move_to_personal" value="1" /> <!-- IF S_MOVE_MODERATOR -->{L_MOVE_TO_PERSONAL_MOD}<!-- ELSE -->{L_MOVE_TO_PERSONAL_EXPLAIN}<!-- ENDIF --></div>
	<!-- ENDIF -->
	<!-- IF S_COMMENTS_ENABLED -->
	<div class="post bg3">{L_COMMENTS}{L_COLON}<br />
	<input type="checkbox" class="checkbox" name="allow_comments"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> value="1" /> {L_ALLOW_COMMENTS}</div>
	<!-- ENDIF -->
	<!-- IF S_CHANGE_AUTHOR and U_FIND_USERNAME -->
	<div class="post bg3">{L_CHANGE_AUTHOR}{L_COLON}<br />
	<input type="text" class="inputbox autowidth" name="change_author" value="" size="32" /> [ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</div>
	<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
//<![CDATA[
	set_text_field(0);
//]]>
</script>

<div class="panel submit-buttons">
	{S_HIDDEN_FIELDS}
	<input type="reset" accesskey="r" tabindex="200" value="{L_RESET}" class="button2" />&nbsp;
	<input type="submit" accesskey="s" tabindex="201" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
	{S_FORM_TOKEN}
</div>
</form>

<!-- INCLUDE gallery/gallery_footer.html -->
