<!-- INCLUDE gallery/gallery_header.html -->

<h2>{L_IMAGE_NAME}{L_COLON}<a href="{U_VIEW_IMAGE}" style="display: inline;"> {IMAGE_NAME}</a></h2>

<!-- IF U_IMAGE -->
<div class="post bg2">
	<div class="inner">
		<div class="postbody_album" id="image">
			<a href="{U_IMAGE}" style="display: inline;"><img src="{U_IMAGE}" alt="{IMAGE_NAME}" title="{IMAGE_NAME}" class="postimage" /></a>
		</div>
	</div>
</div>
<!-- ENDIF -->

<form id="postform" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data">

<div class="panel" id="postingbox">
	<div class="inner">
		<h3>{L_POST_COMMENT}</h3>
		<fieldset class="fields1">
			<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

			<!-- IF not S_USER_LOGGED_IN -->
			<dl>
				<dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
				<dd id="username"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{USERNAME}" size="60" maxlength="32" /></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_ALLOWED_TO_RATE -->
				<dl>
					<dt><label>{L_YOUR_RATING}{L_COLON}</label></dt>
					<dd>
					<!-- IF .rate_scale -->
						<select name="rating">
						<!-- BEGIN rate_scale -->
							<!-- IF rate_scale.RATE_POINT == 1 --><option value="0">{L_DONT_RATE_IMAGE}</option><!-- ENDIF -->
							<option value="{rate_scale.RATE_POINT}">{rate_scale.RATE_POINT}</option>
						<!-- END rate_scale -->
						</select>
					<!-- ELSE -->
						{CONTEST_RATING}
					<!-- ENDIF -->
					</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF CAPTCHA_TEMPLATE -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->


			<!-- INCLUDE posting_buttons.html -->

			<div id="smiley-box" class="smiley-box">
			<!-- EVENT posting_editor_smilies_before -->
				<!-- IF S_SMILIES_ALLOWED and .smiley -->
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
				<!-- ENDIF -->

				<!-- EVENT posting_editor_smilies_after -->
				<div>
					<div class="inner">
						<fieldset class="submit-buttons">
							<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED -->
								<a href="{U_MORE_SMILIES}" class="button2" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
							<!-- ENDIF -->
						</fieldset>
					</div>
				</div>
				<!-- IF BBCODE_STATUS -->
					<div class="bbcode-status">
						<!-- IF .smiley --><hr /><!-- ENDIF -->
						{BBCODE_STATUS}<br />
						<!-- IF S_BBCODE_ALLOWED -->
						{IMG_STATUS}<br />
						<!-- IF S_BBCODE_FLASH -->
							{FLASH_STATUS}<br />
						<!-- ENDIF -->
						{URL_STATUS}<br />
						<!-- ENDIF -->
						{SMILIES_STATUS}
					</div>
				<!-- ENDIF -->
				<!-- EVENT posting_editor_bbcode_status_after -->
				<!-- IF S_EDIT_DRAFT || S_DISPLAY_REVIEW -->
				<!-- IF S_DISPLAY_REVIEW --><hr /><!-- ENDIF -->
				<!-- IF S_EDIT_DRAFT --><strong><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></strong><!-- ENDIF -->
				<!-- IF S_DISPLAY_REVIEW --><strong><a href="#review">{L_TOPIC_REVIEW}</a></strong><!-- ENDIF -->
			<!-- ENDIF -->
			</div>
			{L_COMMENT_LENGTH}
			<div id="message-box" class="message-box">
				<textarea <!-- IF S_UCP_ACTION and not S_PRIVMSGS and not S_EDIT_DRAFT -->name="signature" id="signature" style="height: 9em;"<!-- ELSE -->name="message" id="message"<!-- ENDIF --> rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>
			</div>

			<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{S_SIGNATURE_CHECKED} /> {L_ATTACH_SIG}</label></div>

		</fieldset>
	</div>
</div>

<div class="panel bg2">
	<div class="inner">
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}{S_CAPTCHA_HIDDEN_FIELDS}
			<input type="reset" accesskey="r" tabindex="200" value="{L_RESET}" class="button2" />&nbsp;
			<input type="submit" accesskey="s" tabindex="201" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		</fieldset>
		{S_FORM_TOKEN}
	</div>
</div>
</form>

<!-- INCLUDE gallery/gallery_footer.html -->