<!-- INCLUDE gallery/gallery_header.html -->

<h2><a href="{U_VIEW_IMAGE}">{IMAGE_NAME}</a></h2>

<!-- IF U_IMAGE -->
<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div style="text-align: center; padding: 20px;">
			<a href="{U_IMAGE}"<!-- IF S_GP_HIGHSLIDE --> class="highslide" onclick="return hs.expand(this)"<!-- ELSEIF S_GP_LYTEBOX --> rel="lytebox" class="image-resize"<!-- ENDIF -->><img src="{U_IMAGE}" alt="{IMAGE_NAME}" title="{IMAGE_NAME}" style="max-height: {IMAGE_RSZ_HEIGHT}px; max-width: {IMAGE_RSZ_WIDTH}px;" /></a></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<form id="postform" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data">

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_POST_COMMENT}</h3>
		<fieldset class="fields1">
			<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

			<!-- IF not S_USER_LOGGED_IN -->
			<dl>
				<dt><label for="username">{L_USERNAME}:</label></dt>
				<dd id="username"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{USERNAME}" size="60" maxlength="32" /></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_ALLOWED_TO_RATE -->
				<dl>
					<dt><label>{L_YOUR_RATING}:</label></dt>
					<dd>
					<!-- IF .rate_scale -->
						<select name="rating">
						<!-- BEGIN rate_scale -->
							<!-- IF rate_scale.RATE_POINT == 1 --><option value="0">{L_DONT_RATE_IMAGE}</option><!-- ENDIF -->
							<option value="{rate_scale.RATE_POINT}">{rate_scale.RATE_POINT}</option>
						<!-- END rate_scale -->
						</select>
					<!-- ELSE -->
						{CONTEST_RATING}
					<!-- ENDIF -->
					</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF CAPTCHA_TEMPLATE -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->

			<dl>
				<dt><label for="message">{L_YOUR_COMMENT}:</label></dt>
			</dl>

			<!-- INCLUDE posting_buttons.html -->

			<div id="smiley-box">
				<!-- IF S_SMILIES_ALLOWED and .smiley -->
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
				<!-- ENDIF -->
				<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
					<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
				<!-- ENDIF -->

				<!-- IF BBCODE_STATUS -->
					<!-- IF .smiley --><hr /><!-- ENDIF -->
					{BBCODE_STATUS}<br />
					<!-- IF S_BBCODE_ALLOWED -->
						{IMG_STATUS}<br />
						{FLASH_STATUS}<br />
						{URL_STATUS}<br />
						{SMILIES_STATUS}<hr />
					<!-- ENDIF -->
				<!-- ENDIF -->
				{L_COMMENT_LENGTH}
			</div>

			<div id="message-box">
				<textarea name="message" id="message" rows="7" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{MESSAGE}</textarea>
			</div>

			<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{S_SIGNATURE_CHECKED} /> {L_ATTACH_SIG}</label></div>

		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}{S_CAPTCHA_HIDDEN_FIELDS}
			<input type="reset" accesskey="r" tabindex="200" value="{L_RESET}" class="button2" />&nbsp;
			<input type="submit" accesskey="s" tabindex="201" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		</fieldset>
		{S_FORM_TOKEN}
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE gallery/gallery_footer.html -->