<form id="gallery_approve" method="post" action="{S_GALLERY_APPROVE_ACTION}">
	<div class="panel">
		<div class="inner">
			<!-- IF U_OVERVIEW -->
				<h3>{L_LATEST_IMAGES_UNAPPROVED}</h3>
				<!-- ELSE -->
				<p> {TOTAL_IMAGES_WAITING} </p>
			<!-- ENDIF -->
			<!-- IF .unapproved_image -->
				<ul class="topiclist two-long-columns">
					<li class="header">
						<dl class="row-item">
							<dt>{L_GALLERY_MCP_QUEUE_DETAIL}</dt>
							<dd class="lastpost" style="margin-left: -95px;">{L_ALBUM}</dd>
							<dd class="mark">{L_MARK}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist missing-column responsive-show-all">
					<!-- BEGIN unapproved_image -->
					<li class="row<!-- IF unapproved_image.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
						<dl>
							<dt>
								<div style="float: left; padding: 5px; width: 70px;" align="middle">
									<a href="{unapproved_image.U_IMAGE_MODERATE_URL}"><img style="max-width: 70px; max-height: 70px;" src="{unapproved_image.U_IMAGE}" alt="{unapproved_image.U_IMAGE_NAME}"></a>
								</div>
								<div class="list-inner" style="margin-bottom: -12px; white-space: normal; overflow: hidden;">
									{L_IMAGE_NAME}{L_COLON} <a href="{unapproved_image.U_IMAGE_MODERATE_URL}" class="topictitle">{unapproved_image.U_IMAGE_NAME}</a><br />
									{L_UPLOADED_BY_USER}{L_COLON} {unapproved_image.IMAGE_AUTHOR}<br />
									&raquo; {unapproved_image.IMAGE_TIME}<br /><br />
								</div><br />
							</dt>
							<dd class="lastpost">
								<span>
									{L_ALBUM_NAME}{L_COLON} <a href="{unapproved_image.IMAGE_ALBUM_URL}">{unapproved_image.IMAGE_ALBUM}</a>
								</span>
							</dd>
							<dd class="mark" style="padding-left: 8px;">
								<input name="approval[{unapproved_image.IMAGE_ALBUM_ID}][]" value="{unapproved_image.U_IMAGE_ID}" type="checkbox" />
							</dd>
						</dl>
					</li>
					<!-- END unapproved_image -->
				</ul>
			<!-- ELSE -->
				<p>{L_NO_WAITING_UNAPPROVED_IMAGE}</p>
			<!-- ENDIF -->
		</div>
		<!-- IF .unapproved_image -->
		<fieldset class="display-actions">
			<input class="button2" name="action[disapprove]" value="{L_DISAPPROVED}" type="submit" />&nbsp;
			<input class="button1" name="action[approve]" value="{L_APPROVE}" type="submit" />
			<div><a href="#" onclick="marklist('gallery_approve', 'approval', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('gallery_approve', 'approval', false); return false;">{L_UNMARK_ALL}</a></div>
		</fieldset>
		<!-- ENDIF -->
	</div>
</form>