<div class="panel">
	<div class="inner">
		<!-- IF U_OVERVIEW -->
		<h3>{L_LATEST_LOGS}</h3>
		<!-- ENDIF -->
		<!-- IF S_HAS_LOGS -->
			<table class="table1 responsive">
				<thead>
					<tr>
						<th class="name">{L_ACTION}</th>
						<th class="name">{L_USERNAME}</th>
						<th class="name">{L_USER_IP}</th>
						<th class="name">{L_LOGVIEW_VIEWALBUM}</th>
						<th class="name">{L_LOGVIEW_VIEWIMAGE}</th>
						<th class="name">{L_TIME}</td>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN log -->
					<tr class="<!-- IF log.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
						<td>{log.U_LOG_ACTION}</td>
						<td>{log.U_LOG_USER}</td>
						<td>{log.U_LOG_IP}</td>
						<td><!-- IF log.U_ALBUM_LINK --><a href="{log.U_ALBUM_LINK}">{L_LOGVIEW_VIEWALBUM}</a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
						<td><!-- IF log.U_IMAGE_LINK --><a href="{log.U_IMAGE_LINK}">{L_LOGVIEW_VIEWIMAGE}</a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
						<td>{log.U_TIME}</td>
					</tr>
					<!-- END log -->
				</tbody>
			</table>
		<!-- ELSE -->
		<p>{L_NO_ENTRIES} </p>
		<!-- ENDIF -->
	</div>
</div>