<!-- INCLUDE gallery/gallery_header.html -->

<h2>{L_MCP}<!-- IF U_ALBUM_NAME --> - {U_ALBUM_NAME}<!-- ENDIF --></h2>
<div id="tabs">
	<ul>
		<li class="tab activetab"><a href="{U_GALLERY_MODERATE_OVERVIEW}">{L_GALLERY_MCP_MAIN}</a></li>
		<!-- IF U_ALBUM_OVERVIEW --><li class="tab"><a href="{U_ALBUM_OVERVIEW}">{L_GALLERY_MCP_ALBUM_OVERVIEW}</a></li><!-- ENDIF -->
		<li class="tab"><a href="{U_GALLERY_MODERATE_APPROVE}">{L_GALLERY_MCP_QUEUE}</a></li>
		<li class="tab"><a href="{U_GALLERY_MODERATE_REPORT}">{L_GALLERY_MCP_REPORTED}</a></li>
		<li class="tab"><a href="{U_GALLERY_MCP_LOGS}">{L_MCP_LOGS}</a></li>
	</ul>
</div>
<div class="panel bg3">
	<div class="inner">
		<div style="width: 100%;">
			<div id="cp-menu">
				<div class="responsive-hide" id="navigation" role="navigation">
					<ul>
						<li id="active-subsection"><a href=""><span>{L_GALLERY_MCP_OVERVIEW}</span></a></li>
					</ul>
				</div>
			</div>
			<div id="cp-main" class="mcp-main panel-container">
				<h2>{L_GALLERY_MCP_MAIN}</h2>
				<!-- INCLUDE gallery/moderate_approve_queue.html -->
				<!-- INCLUDE gallery/moderate_report_queue.html -->
				<!-- INCLUDE gallery/moderate_actions_queue.html -->
			</div>
		</div>
	</div>
</div>
<!-- INCLUDE gallery/gallery_footer.html -->