<!-- INCLUDE gallery/gallery_header.html -->

<!-- IF .pagination or TOTAL_IMAGES -->
	<div class="pagination">
		{TOTAL_IMAGES}
		<!-- IF .pagination -->
			 <!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE gallery/imageblock_polaroid.html -->
<hr />
<!-- IF .pagination or TOTAL_IMAGES -->
	<div style="margin: 10px 0 5px 0;">
		<div class="pagination" style="margin-bottom: 1em;">
			{TOTAL_IMAGES}
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE gallery/gallery_footer.html -->
