<!-- INCLUDE gallery/gallery_header.html -->

<h2><a href="{S_ALBUM_ACTION}">{IMAGE_NAME}</a></h2>

<div class="post bg2<!-- IF S_IMAGE_REPORTED --> reported<!-- ENDIF -->">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div style="text-align: center; padding: 20px;">
			<img src="{UC_IMAGE}" alt="{IMAGE_NAME}" />
			<!-- IF S_IMAGE_REPORTED --><br /><br /><a href="{U_IMAGE_REPORTED}"><span class="error">{L_IMAGE_REPORTED}</span></a><!-- ENDIF -->
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div id="details" class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody">
			<ul class="profile-icons">
				<li>&nbsp;</li>
				<!-- EVENT gallery_viewimage_actions -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_IMAGE}"><span>{L_EDIT_IMAGE}</span></a></li><!-- ENDIF -->
				<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_IMAGE}"><span>{L_DELETE_IMAGE}</span></a></li><!-- ENDIF -->
				<!-- IF U_REPORT --><li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT_IMAGE}"><span>{L_REPORT_IMAGE}</span></a></li><!-- ENDIF -->
			</ul>

			<h3>{IMAGE_NAME}</h3>
			<hr />

			<fieldset class="fields1 anti-postbody">
				<!-- IF CONTEST_RANK -->
				<dl class="column1">
					<dt><label>{L_CONTEST_RESULT}:</label></dt>
					<dd>{CONTEST_RANK}</dd>
				</dl>
				<!-- ENDIF -->
				<dl class="column2">
					<dt><label>{L_UPLOADED_ON_DATE}:</label></dt>
					<dd>{IMAGE_TIME}</dd>
				</dl>
				<!-- IF IMAGE_URL -->
				<dl class="column1">
					<dt><label>{L_IMAGE_URL}:</label></dt>
					<dd><input type="text" size="28" value="{IMAGE_URL}" class="inputbox autowidth-gallery" onclick="this.focus();this.select();" /></dd>
				</dl>
				<!-- ENDIF -->
				<dl class="column2">
					<dt><label>{L_GALLERY_VIEWS}:</label></dt>
					<dd>{IMAGE_VIEW}</dd>
				</dl>
				<!-- IF IMAGE_BBCODE -->
				<dl class="column1">
					<dt><label>{L_IMAGE_BBCODE}:</label></dt>
					<dd><input type="text" size="28" value="{IMAGE_BBCODE}" class="inputbox autowidth-gallery" onclick="this.focus();this.select();" /></dd>
					<!-- IF IMAGE_IMGURL_BBCODE -->
						<dd><input type="text" size="28" value="{IMAGE_IMGURL_BBCODE}" class="inputbox autowidth-gallery" onclick="this.focus();this.select();" /></dd>
					<!-- ENDIF -->
				</dl>
				<!-- ENDIF -->
				<!-- IF S_VIEW_RATE -->
				<dl class="column2">
					<dt><label>{L_RATING}:</label></dt>
					<dd><!-- IF CONTEST_RESULT_HIDDEN -->{CONTEST_RESULT_HIDDEN}<!-- ELSE -->{IMAGE_RATING}<!-- ENDIF --><!-- IF S_YOUR_RATING --> ({L_YOUR_RATING}: {S_YOUR_RATING})<!-- ENDIF --></dd>
				</dl>
				<!-- ENDIF -->
			</fieldset>

			<!-- EVENT gallery_viewimage_details -->
		</div>

		<dl class="postprofile" id="profile_poster">
			<dt>
				<!-- IF POSTER_AVATAR -->
					<!-- IF U_POSTER --><a href="{U_POSTER}">{POSTER_AVATAR}</a><!-- ELSE -->{POSTER_AVATAR}<!-- ENDIF --><br />
				<!-- ENDIF -->
				<!-- IF not U_POSTER --><strong>{POSTER_FULL}</strong><!-- ELSE -->{POSTER_FULL}<!-- ENDIF -->
			</dt>

			<!-- IF POSTER_RANK_TITLE or POSTER_RANK_IMG --><dd>{POSTER_RANK_TITLE}<!-- IF POSTER_RANK_TITLE and POSTER_RANK_IMG --><br /><!-- ENDIF -->{POSTER_RANK_IMG}</dd><!-- ENDIF -->

			<dd>&nbsp;</dd>

			<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
			<!-- IF POSTER_GALLERY_IMAGES != '' --><dd><strong>{L_IMAGES}:</strong> <!-- IF U_POSTER_GALLERY_SEARCH --><a href="{U_POSTER_GALLERY_SEARCH}">{POSTER_GALLERY_IMAGES}</a><!-- ELSE -->{POSTER_GALLERY_IMAGES}<!-- ENDIF --></dd><!-- ENDIF -->
			<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
			<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->
			<!-- IF POSTER_IP --><dd><strong>{L_IP}:</strong> {POSTER_IP} [ <a href="{U_POSTER_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a> ]</dd><!-- ENDIF -->

			<!-- IF S_PROFILE_FIELD1 -->
				<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
				<dd><strong>{PROFILE_FIELD1_NAME}:</strong> {PROFILE_FIELD1_VALUE}</dd>
			<!-- ENDIF -->

			<!-- BEGIN custom_fields -->
				<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
			<!-- END custom_fields -->

			<!-- IF not S_IS_BOT -->
				<!-- DEFINE $DISPLAY_PROFILE_ICONS = false -->
				<!-- IF U_POSTER_PM or U_POSTER_EMAIL or U_POSTER_WWW or U_POSTER_MSN or U_POSTER_ICQ -->
					<!-- DEFINE $DISPLAY_PROFILE_ICONS = true -->
				<!-- ELSEIF U_POSTER_YIM or U_POSTER_AIM or U_POSTER_JABBER or U_POSTER_GALLERY -->
					<!-- DEFINE $DISPLAY_PROFILE_ICONS = true -->
				<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF $DISPLAY_PROFILE_ICONS -->
				<dd>
					<ul class="profile-icons">
						<!-- IF U_POSTER_PM --><li class="pm-icon"><a href="{U_POSTER_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_EMAIL --><li class="email-icon"><a href="{U_POSTER_EMAIL}" title="{L_SEND_EMAIL_USER} {POST_AUTHOR}"><span>{L_SEND_EMAIL_USER} {POST_AUTHOR}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_WWW --><li class="web-icon"><a href="{U_POSTER_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_MSN --><li class="msnm-icon"><a href="{U_POSTER_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_ICQ --><li class="icq-icon"><a href="{U_POSTER_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_YIM --><li class="yahoo-icon"><a href="{U_POSTER_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_AIM --><li class="aim-icon"><a href="{U_POSTER_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_JABBER --><li class="jabber-icon"><a href="{U_POSTER_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
						<!-- IF U_POSTER_GALLERY --><li class="gallery-icon"><a href="{U_POSTER_GALLERY}" title="{L_PERSONAL_ALBUM}"><span>{L_PERSONAL_ALBUM}</span></a></li><!-- ENDIF -->
					</ul>
				</dd>
			<!-- ENDIF -->
		</dl>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF S_QUICK_MOD -->
	<form method="post" action="{S_MOD_ACTION}">
	<fieldset class="quickmod" style="float: none; width: 100%;">
		<label for="quick-mod-select">{L_QUICK_MOD}:</label>
		<select name="action" id="quick-mod-select">
			<!-- IF S_QM_MOVE --><option value="images_move">{L_QUEUE_A_MOVE}</option><!-- ENDIF -->
			<!-- IF S_QM_EDIT --><option value="image_edit">{L_EDIT_IMAGE}</option><!-- ENDIF -->
			<!-- IF S_QM_STATUS -->
				<!-- IF not S_STATUS_UNAPPROVED --><option value="images_unapprove">{L_QUEUE_A_UNAPPROVE}</option><!-- ENDIF -->
				<!-- IF not S_STATUS_APPROVED --><option value="images_approve">{L_QUEUE_A_APPROVE}</option><!-- ENDIF -->
				<!-- IF not S_STATUS_LOCKED --><option value="images_lock">{L_QUEUE_A_LOCK}</option><!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF S_QM_DELETE --><option value="images_delete">{L_QUEUE_A_DELETE}</option><!-- ENDIF -->
			<!-- IF S_QM_REPORT and S_IMAGE_REPORTED --><option value="report_details">{L_READ_REPORT}</option><!-- ENDIF -->
		</select>
		<input type="submit" value="{L_GO}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF IMAGE_DESC -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_IMAGE_DESC}</h3>
		<div class="postbody" style="width: 100%"><div class="content">{IMAGE_DESC}</div></div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF not S_IS_BOT and (S_ALLOWED_TO_RATE or S_ALLOWED_TO_COMMENT) -->
<a name="rating"></a>
<form id="postform" action="{S_COMMENT_ACTION}" method="post">
<div id="postingbox" class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3><!-- IF S_ALLOWED_TO_RATE and S_ALLOWED_TO_COMMENT -->{L_POST_COMMENT_RATE_IMAGE}<!-- ELSEIF S_ALLOWED_TO_COMMENT -->{L_POST_COMMENT}<!-- ELSE -->{L_RATE_IMAGE}<!-- ENDIF --></h3>
		<fieldset id="comment-box" class="fields1">
			<!-- IF S_ALLOWED_TO_RATE -->
				<dl>
					<dt><label>{L_YOUR_RATING}:</label></dt>
					<dd>
						<!-- IF .rate_scale -->
							<select name="rating">
							<!-- BEGIN rate_scale -->
								<!-- IF rate_scale.RATE_POINT == 1 --><option value="0">{L_DONT_RATE_IMAGE}</option><!-- ENDIF -->
								<option value="{rate_scale.RATE_POINT}">{rate_scale.RATE_POINT}</option>
							<!-- END rate_scale -->
							</select>
							<!-- IF (not S_ALLOWED_TO_COMMENT or S_HIDE_COMMENT_INPUT) and .rate_scale -->
								<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
							<!-- ENDIF -->
						<!-- ELSE -->
							{CONTEST_RATING}
						<!-- ENDIF -->
					</dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF S_ALLOWED_TO_COMMENT and not S_HIDE_COMMENT_INPUT -->
				<!-- IF not S_USER_LOGGED_IN -->
					<dl>
						<dt><label>{L_USERNAME}:</label></dt>
						<dd><input class="inputbox autowidth" type="text" name="username" maxlength="32" /></dd>
					</dl>
				<!-- ENDIF -->
				<!-- IF CAPTCHA_TEMPLATE -->
					<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
				<!-- ENDIF -->
				<!-- INCLUDE posting_buttons.html -->
				<div id="smiley-box">
					<!-- IF S_SMILIES_ALLOWED and .smiley -->
						<strong>{L_SMILIES}</strong><br />
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- ENDIF -->
					<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
						<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->

					<!-- IF BBCODE_STATUS -->
					<!-- IF .smiley --><hr /><!-- ENDIF -->
					{BBCODE_STATUS}<br />
					<!-- IF S_BBCODE_ALLOWED -->
						{IMG_STATUS}<br />
						{FLASH_STATUS}<br />
						{URL_STATUS}<br />
					<!-- ENDIF -->
					{SMILIES_STATUS}
					<!-- ENDIF -->
					<hr />{L_COMMENT_LENGTH}
				</div>
				<div id="message-box">
					<textarea name="message" id="message" rows="7" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox"></textarea>
				</div>
				<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{S_SIGNATURE_CHECKED} /> {L_ATTACH_SIG}</label></div>
				<div style="text-align: center;"><input style=" padding-bottom: 3px; padding-top: 3px; vertical-align: middle;"type="submit" name="submit" value="{L_SUBMIT}" class="button1" /></div>
			</fieldset>
		<!-- ELSE IF S_HIDE_COMMENT_INPUT -->
			<!-- IF S_ALLOWED_TO_RATE --><hr class="dashed" /><!-- ENDIF -->
			{CONTEST_COMMENTS}
		<!-- ENDIF -->
		{S_FORM_TOKEN}
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- ENDIF -->

<!-- IF S_ALLOWED_READ_COMMENTS -->
<a name="comments"></a>
<!-- IF not .commentrow or S_COMMENTS_DISABLED -->
	<div id="comments" class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<strong><!-- IF S_COMMENTS_DISABLED -->{L_IMAGE_COMMENTS_DISABLED}<!-- ELSE -->{L_NO_COMMENTS}<!-- ENDIF --></strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
<!-- IF .commentrow -->
	<!-- IF .pagination or TOTAL_COMMENTS -->
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_COMMENTS} &bull; 
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				{PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<!-- BEGIN commentrow -->
	<a id="comment_{commentrow.COMMENT_ID}"></a>
	<div class="post <!-- IF commentrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF commentrow.S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="postbody">
				<!-- IF commentrow.U_DELETE or commentrow.U_EDIT or commentrow.U_INFO or commentrow.U_QUOTE -->
					<ul class="profile-icons">
						<!-- IF commentrow.U_EDIT --><li class="edit-icon"><a href="{commentrow.U_EDIT}" title="{L_EDIT_COMMENT}"><span>{L_EDIT_COMMENT}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_DELETE --><li class="delete-icon"><a href="{commentrow.U_DELETE}" title="{L_DELETE_COMMENT}"><span>{L_DELETE_COMMENT}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_INFO --><li class="info-icon"><a href="{commentrow.U_INFO}" title="{L_IP}" onclick="popup(this.href, 750, 500); return false;"><span>{L_IP}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_QUOTE --><li class="quote-icon"><a href="{commentrow.U_QUOTE}" title="{L_QUOTE_COMMENT}"><span>{L_QUOTE_COMMENT}</span></a></li><!-- ENDIF -->
					</ul>
				<!-- ENDIF -->
				<p class="author"><a href="{commentrow.U_COMMENT}">{MINI_POST_IMG}</a>&nbsp;{L_POST_BY_AUTHOR} <strong>{commentrow.POST_AUTHOR_FULL}</strong> &raquo; {commentrow.TIME} </p>
				<div class="content">{commentrow.TEXT}</div>
				<!-- IF commentrow.EDIT_INFO --><div class="notice">{commentrow.EDIT_INFO}</div><!-- ENDIF -->
				<!-- IF commentrow.SIGNATURE --><div id="sig{commentrow.COMMENT_ID}" class="signature">{commentrow.SIGNATURE}</div><!-- ENDIF -->
			</div>
			<dl class="postprofile" id="profile{commentrow.COMMENT_ID}">
				<dt>
					<!-- IF commentrow.POSTER_AVATAR -->
						<!-- IF commentrow.U_POST_AUTHOR --><a href="{commentrow.U_POST_AUTHOR}">{commentrow.POSTER_AVATAR}</a><!-- ELSE -->{commentrow.POSTER_AVATAR}<!-- ENDIF --><br />
					<!-- ENDIF -->
					<!-- IF not commentrow.U_POST_AUTHOR --><strong>{commentrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{commentrow.POST_AUTHOR_FULL}<!-- ENDIF -->
				</dt>

				<!-- IF commentrow.RANK_TITLE or commentrow.RANK_IMG --><dd>{commentrow.RANK_TITLE}<!-- IF commentrow.RANK_TITLE and commentrow.RANK_IMG --><br /><!-- ENDIF -->{commentrow.RANK_IMG}</dd><!-- ENDIF -->

				<dd>&nbsp;</dd>

				<!-- IF commentrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {commentrow.POSTER_POSTS}</dd><!-- ENDIF -->
				<!-- IF commentrow.GALLERY_IMAGES != '' --><dd><strong>{L_IMAGES}:</strong> <!-- IF commentrow.U_GALLERY_SEARCH --><a href="{commentrow.U_GALLERY_SEARCH}">{commentrow.GALLERY_IMAGES}</a><!-- ELSE -->{commentrow.GALLERY_IMAGES}<!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF commentrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {commentrow.POSTER_JOINED}</dd><!-- ENDIF -->
				<!-- IF commentrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {commentrow.POSTER_FROM}</dd><!-- ENDIF -->

				<!-- IF commentrow.S_PROFILE_FIELD1 -->
					<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
					<dd><strong>{commentrow.PROFILE_FIELD1_NAME}:</strong> {commentrow.PROFILE_FIELD1_VALUE}</dd>
				<!-- ENDIF -->

				<!-- BEGIN custom_fields -->
					<dd><strong>{commentrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {commentrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
				<!-- END custom_fields -->

				<!-- IF not S_IS_BOT -->
					<!-- IF commentrow.U_PM or commentrow.U_EMAIL or commentrow.U_WWW or commentrow.U_MSN or commentrow.U_ICQ -->
						<!-- DEFINE $DISPLAY_PROFILE_ICONS = true -->
					<!-- ELSEIF commentrow.U_YIM or commentrow.U_AIM or commentrow.U_JABBER or commentrow.U_GALLERY -->
						<!-- DEFINE $DISPLAY_PROFILE_ICONS = true -->
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF $DISPLAY_PROFILE_ICONS -->
					<dd>
						<ul class="profile-icons">
							<!-- IF commentrow.U_PM --><li class="pm-icon"><a href="{commentrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_EMAIL --><li class="email-icon"><a href="{commentrow.U_EMAIL}" title="{L_SEND_EMAIL_USER} {commentrow.POST_AUTHOR}"><span>{L_SEND_EMAIL_USER} {commentrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_WWW --><li class="web-icon"><a href="{commentrow.U_WWW}" title="{L_VISIT_WEBSITE}: {commentrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_MSN --><li class="msnm-icon"><a href="{commentrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_ICQ --><li class="icq-icon"><a href="{commentrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_YIM --><li class="yahoo-icon"><a href="{commentrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_AIM --><li class="aim-icon"><a href="{commentrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_JABBER --><li class="jabber-icon"><a href="{commentrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
							<!-- IF commentrow.U_GALLERY --><li class="gallery-icon"><a href="{commentrow.U_GALLERY}" title="{L_PERSONAL_ALBUM}"><span>{L_PERSONAL_ALBUM}</span></a></li><!-- ENDIF -->
						</ul>
					</dd>
				<!-- ENDIF -->
			</dl>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- END commentrow -->

	<form action="{S_ALBUM_ACTION}" method="post">
	<fieldset class="display-options" style="margin-top: 0; ">
		<label>{L_ORDER}: <select name="sort_order"><option value="ASC"<!-- IF SORT_ASC --> selected="selected"<!-- ENDIF -->>{L_SORT_ASCENDING}</option><option value="DESC"<!-- IF not SORT_ASC --> selected="selected"<!-- ENDIF -->>{L_SORT_DESCENDING}</option></select>&nbsp;<input type="submit" name="submit" value="{L_GO}" class="button2" /></label>
	</fieldset>
	</form>
	<hr />

	<!-- IF .pagination or TOTAL_COMMENTS -->
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_COMMENTS} &bull; 
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				{PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->

<p class="jumpbox-return"><a href="{U_RETURN_LINK}" class="left-box arrow-{S_CONTENT_FLOW_BEGIN}" accesskey="r">{S_RETURN_LINK}</a></p>
<!-- IF ALBUM_JUMPBOX -->
<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">
	<fieldset class="jumpbox">
		<label for="album_id" accesskey="album_id">{L_JUMP_TO}:</label>
		<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			{ALBUM_JUMPBOX}
		</select>
		<input type="submit" value="{L_GO}" class="button2" />
	</fieldset>
</form>
<!-- ELSE -->
<br /><br />
<!-- ENDIF -->

<!-- INCLUDE gallery/gallery_footer.html -->
